{% if cartas %}
<table class="card-table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Link</th>
      <th>Raridade</th>
      <th>Variante</th>
      <th style="display: flex; align-items: center">
        <p style="margin-right: 1vw">Preços</p>
        <button class="sort-btn price-min" title="Ordenar preço mínimo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m8 9 4-4 4 4"></path>
            <path d="m16 15-4 4-4-4"></path>
          </svg>
        </button>

        <button class="sort-btn price-med" title="Ordenar preço médio">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m8 9 4-4 4 4"></path>
            <path d="m16 15-4 4-4-4"></path>
          </svg>
        </button>

        <button class="sort-btn price-max" title="Ordenar preço máximo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m8 9 4-4 4 4"></path>
            <path d="m16 15-4 4-4-4"></path>
          </svg>
        </button>
      </th>
      <th>Estado</th>
      <th>★</th>
    </tr>
  </thead>
  <tbody>
    {% for link, card in cartas.items() %} {% for variant in card.variants %} {%
    include "partials/variant_row.html" with context %} {% endfor %} {% endfor
    %}
  </tbody>
</table>
{% else %}
<div class="empty-state">
  <div class="empty-state-icon">◎</div>
  <p class="empty-state-text">Nenhuma carta encontrada</p>
</div>
{% endif %}
